/**
  |============================
  | сітка із застосуванням flex-box
  |============================
*/

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  
  @media screen and (max-width: 479px) {
    justify-content: center;
    // flex-direction: column;
  }

    // @media screen and (max-width: 767px) {
      
      
    // }
}

.card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

}


// .card-set {
//   display: flex;
//   flex-wrap: wrap;
//   gap: var(--indent);
//   justify-content: center;
// }

// .card-set__item {
//   // @media screen and (min-width: 768px) {
//   //   flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
//   // }
  
//   // @media screen and (min-width: 1200px) {
//   //   flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
//   // }
    
  
// }