/**
  |============================
  | сітка із застосуванням flex-box
  |============================
*/

// .card-set {
//   display: flex;
//   flex-wrap: wrap;
//   gap: var(--indent);
//   margin: calc(-1 * var(--indent) / 2);
//   // @media screen and (min-width: 480px) {}
  
//   //   @media screen and (min-width: 768px) {
      
//   //   }
  
//     // @media screen and (min-width: 1200px) {
//     //   display: flex;
//     //     flex-wrap: wrap;
//     // }
// }

// .card-set__item {
//   flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
//   // margin: calc(var(--indent) / 2);

//   // gap: 30px;
// }


.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  justify-content: center;
}

// .card-set__item {
//   // @media screen and (min-width: 768px) {
//   //   flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
//   // }
  
//   // @media screen and (min-width: 1200px) {
//   //   flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
//   // }
    
  
// }