.clients {
    &__title {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.17;
      text-align: center;
      color: var(--title-text-color);

      @media screen and (min-width: 1200px) {
          margin-bottom: 50px;
          font-size: 36px;
      }
    }
    &__item {
      --items: 2;

      @media screen and (min-width: 768px) {
        --items: 3;
      }
      
      @media screen and (min-width: 1200px) {
        --items: 6;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 210px;
      height: 92px;
      color: var(--icon-main-color);
      border: 1px solid var(--icon-main-color);
      border-radius: 4px;    
      transition: color var(--animation), border-color var(--animation);

      @media screen and (min-width: 768px) {
        width: 226px;
      }
      
      @media screen and (min-width: 1200px) {
        width: 170px;
      }
    }
    &__link:hover,
    &__link:focus {
      border-color: var(--accent-color);
      color: var(--accent-color);
      animation: scaler 1500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon {
      fill: currentColor;
    }
}
