.features {
    &.section {
      padding-bottom: 0;
    }
    &__box {
      height: 120px;
      margin-bottom: 30px;
      padding: 25px 100px;
      background-color: var(--background-color-secondary);
      border-radius: 4px;
    }
    &__title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: var(--title-text-color);
    }
    &__list {
      --items: 4;
    }
    &__item {
      display: block;
      flex-basis: 270px;
    }
    &__text {
      line-height: 1.71;
    }
}
