.features {
    &.section {
      @media screen and (min-width: 1200px) {
        padding-bottom: 0;
      }
      
    }
    &__box {
      height: 120px;
      margin-bottom: 30px;
      padding: 25px 110px;
      background-color: var(--background-color-secondary);
      border-radius: 4px;

      @media screen and (min-width: 480px) {
        padding: 25px 190px;
      }
          
      @media screen and (min-width: 768px) {
        padding: 25px 142px;
      }
      
      @media screen and (min-width: 1200px) {
        padding: 25px 100px;
      }
    }
    &__title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: var(--title-text-color);

      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
    &__list {
      --items: 1;    
      
        @media screen and (min-width: 768px) {
          --items: 2;
        }
      
        @media screen and (min-width: 1200px) {
          --items: 4;
        }
    }
    &__item {
      display: block;    
      
    }
    &__text {
      line-height: 1.71;
    }
}
