.nav {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;

    &__list {
      display: flex;
      align-items: center;
    }
    &__item:not(:last-child) {
      margin-right: 50px;
    }
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 32px 0 31px 0;
  color: var(--title-text-color);
  transition: color var(--animation);
  
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    &--current {
      color: var(--accent-color);
    }
    &--current::after {
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
}






